* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 16px;
}

.navigation-bar{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: right;
    padding: 12px 50px 0 0;
    gap: 50px;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.nav-link{
    color: aliceblue;
}

.hero{
    background-color: #262626;
    height: 80vh;
    position: relative;
    bottom: 15px;
    padding: 0 180px;
}

#chad{
    border-radius: 54%;
    height: 250px;
    width: 250px;
    /*object-fit: cover;*/
}

.hero_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 0 0;
    /*gap: 10em;*/
}

.hero_text{
    font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
    font-size: 21px;
}

.hero_name{
    font-size: 30px;
}

.socials{
    bottom: 30px;
    left: 170px;
    position: absolute;
}

.skills{
    padding: 0 180px;
}